name: Deploy Frontend (DEV)

on:
  push:
    branches: [ dev ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install & Build
      env:
         # Point this build to the DEV backend!
         VITE_API_URL: https://dev.fiesta.events/api/v1
      run: |
        npm ci
        npm run build

    - name: Copy to Server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: "dist/*" 
        target: "/var/www/fiesta_dev/client"
        strip_components: 1
        rm: true